{% extends 'internal_layout.html' %}
{% block app_header %}
<style media="screen">
  table {
    width: 100%;
  }
</style>
{% endblock %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 larget-offset-1 columns">
      <div class="app_content_area">
        <h4>Tambah Soal</h4>
        <form id="form_question_add">
          <label>
            Pertanyaan
            <input type="text" name="question" autocomplete="off">
          </label>
          <label>
            Opsi A
            <input type="text" name="option_one" autocomplete="off">
          </label>
          <label>
            Opsi B
            <input type="text" name="option_two" autocomplete="off">
          </label>
          <label>
            Opsi C
            <input type="text" name="option_three" autocomplete="off">
          </label>
          <label>
            Opsi D
            <input type="text" name="option_four" autocomplete="off">
          </label>
          <label>
            Opsi E
            <input type="text" name="option_five" autocomplete="off">
          </label>
          <label>
            Opsi Benar
            <select name="option_true">
              <option value="-" selected></option>
              <option value="option_one">Opsi A</option>
              <option value="option_two">Opsi B</option>
              <option value="option_three">Opsi C</option>
              <option value="option_four">Opsi D</option>
              <option value="option_five">Opsi E</option>
            </select>
          </label>
          <button id="submitQuestion" type="submit" class="button">Simpan</button>
          <!-- <p><a data-open="modal_message">Click me for a modal</a></p> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tiny reveal" id="modal_message" data-reveal>
  <p class="lead">Tersimpan.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}
{% block app_footer_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('#submitQuestion').click(function(e) {
      e.preventDefault();
      var bad = 0;
      $('input').each(function() {
        if ($(this).val() < 1) {
          bad++;
        }
      });
      var trueOpt = $('select').val();
      if (trueOpt == "-") {
        bad++;
      }
      if (bad > 0) {
        alert("Harap mengisi semua inputan");
      } else {
        var postData = $('#form_question_add').serialize();
        var modal_message = new Foundation.Reveal($('div#modal_message'));
        // var postURL = "/cat/admin/question/add/"
        console.log(postData);
        $.ajax({
          url: "/cat/admin/question/add/{{course_id}}",
          type: "POST",
          data: postData,
          success: function(result) {
            if(result == "Success") {
              // $('div#modal_message').attr("style", "display:block;");
              modal_message.open();
              $('input').val("");
            }
          },
        });
      }

    })
  });
</script>
{% endblock %}
