<div class="row">
  <div class="nav_top_block">
    <div class="small-10 large-10 small-offset-1 larget-offset-1 columns">
      <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Admin | CAT</li>
            <li><a href="/{{sub_domain}}/admin/course">Pelajaran</a></li>
            <li><a href="/{{sub_domain}}/admin/lecturer">Pembimbing</a></li>
            <li><a href="/{{sub_domain}}/admin/participant">Peserta</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">{{ session_user_logged_name }}</a>
              <ul class="menu vertical">
                <li><a href="#">Setting</a></li>
                <li><a href="/{{sub_domain}}/logout">Keluar</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End row nav block -->
