{% extends 'internal_layout.html' %}
{% block app_header %}
<style media="screen">
  table {
    width: 100%;
  }
</style>
{% endblock %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 larget-offset-1 columns">
      <div class="app_content_area">
        <h4>Soal</h4>
        {% if data_question != null %}
          <tr>
            <td colspan="3">
              <a href="add/{{course_id}}" class="button">Tambah Soal</a>
            </td>
          </tr>
        {% endif %}
        {% if flash['flash_message'] %}
          <div class="success callout">
            <p>{{ flash['flash_message'] }}</p>
          </div>
        {% endif %}
        {% if flash['flash_message_error'] %}
          <div class="alert callout">
            <p class="help-text help-text-override" align="center">{{ flash['flash_message_error'] }}</p>
          </div>
        {% endif %}
        <table class="stack">
          <thead>
            <tr>
              <th>No.</th>
              <th>Soal</th>
              <th>Opsi</th>
            </tr>
          </thead>
          <tbody>
            {% if data_question == null %}
              <tr>
                <td colspan="3">
                  <a href="add/{{course_id}}" class="button">Tambah Soal</a>
                </td>
              </tr>
            {% else %}
              {% for d in data_question %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{d.question}}</td>
                  <td>
                    <a href="view/{{d.id}}" class="secondary button">Rubah</a>
                    <a href="delete/{{d.id}}" class="alert button">Hapus</a>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
