{% extends 'internal_layout.html' %}
{% block app_header %}
<style media="screen">
  table {
    width: 100%;
  }
</style>
{% endblock %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 larget-offset-1 columns">
      <div class="app_content_area">
        <h4>Tambah Pelajaran</h4>
        <form action="" method="post">
          <label>
            Nama Pelajaran
            <input type="text" name="course_name" required>
          </label>
          <button type="submit" class="button">Simpan</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
