{% extends 'internal_layout.html' %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-4 large-4 columns">
      <div class="app_content_area">
        <h4>Jadwal Ujian</h4>
      </div>
    </div>
    <div class="small-4 large-4 columns">
      <div class="app_content_area">
        <h4>Nilai Rata - Rata</h4>
      </div>
    </div>
    <div class="small-4 large-4 columns">
      <div class="app_content_area">
        <h4>Aktivitas Terakhir</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}
