{% extends 'internal_layout.html' %}
{% block app_header %}
<style media="screen">
  table {
    width: 100%;
  }
</style>
{% endblock %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 larget-offset-1 columns">
      <div class="app_content_area">
        <h4>Tambah Peserta</h4>
        <form id="form_question_add" action="" method="post">
          <div class="row">
            <div class="small-6 large-6 columns">
              <label>
                Nama
                <input type="text" name="participant_name">
              </label>
            </div>
            <div class="small-6 large-6 columns">
              <label>
                Group Pelajaran
                <select name="course_id">
                  <option value="-" selected></option>
                  {% for d in data_course %}
                      <option value="{{d.id}}">{{d.course_name}}</option>
                  {% endfor %}
                </select>
              </label>
            </div>
          </div>

          <button id="submitQuestion" type="submit" class="button">Simpan</button>
          <!-- <p><a data-open="modal_message">Click me for a modal</a></p> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="tiny reveal" id="modal_message" data-reveal>
  <p class="lead">Tersimpan.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endblock %}
{% block app_footer_js %}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
{% endblock %}
