{% extends 'internal_layout.html' %}
{% block app_container %}
{% include 'admin_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 large-offset-1 columns">
      <div class="app_content_area">

        <div class="row">
          <div class="small-4 large-4 small-offset-4 large-offset-4 columns">
            <h4 align="center">Pilih Pelajaran</h4>
            <select id="course_picker">
              <option value="-">-</option>
              {% for d in data_course %}
                  <option value="{{d.id}}">{{d.course_name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="small-10 large-10 small-offset-1 large-offset-1 columns">
      <p align="center" class="help-text help-text-override">&copy; Copyright Departemen Perhubungan Udara - Kementerian Perhubungan</p>
    </div>
  </div>
</footer>
{% endblock %}
{% block app_footer_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select#course_picker').change(function() {
      if ($(this).val() != "-") {
        window.location.href = "/cat/admin/question/"+$(this).val();
      }
    });
  });
</script>
{% endblock %}
