<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/{{sub_domain}}/cdn/css/foundation.css" />
    <link rel="stylesheet" href="/{{sub_domain}}/cdn/css/app.css" />
    {% block app_header %}{% endblock %}
  </head>
  <body>
    <div class="app_container">
      {% block app_container %}{% endblock %}
    </div>
    {% block app_footer %}{% endblock %}
    <script src="/{{sub_domain}}/cdn/js/vendor/jquery.min.js"></script>
    <script src="/{{sub_domain}}/cdn/js/vendor/what-input.min.js"></script>
    <script src="/{{sub_domain}}/cdn/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
