{% extends 'layout.html' %}
{% block app_container %}
<div class="row">
  <div class="small-8 large-8 small-offset-2 larget-offset-2">
    <div class="header_block">

    </div>
  </div>
</div>
<div class="row">
  <div class="small-6 large-6 small-offset-3 large-offset-3 columns">
    <div class="login_form_block">
      {% if flash['flash_message'] %}
        <div class="success callout">
          <p>{{ flash['flash_message'] }}</p>
        </div>
      {% endif %}
      {% if flash['flash_message_error'] %}
        <div class="alert callout">
          <p class="help-text help-text-override" align="center">{{ flash['flash_message_error'] }}</p>
        </div>
      {% endif %}
      <form action="" method="post">
        <label>
          Username
          <input type="text" name="cat_username">
        </label>
        <label>
          Password
          <input type="password" name="cat_password">
        </label>
        <button type="submit" class="expanded button">Masuk</button>
      </form>
    </div>
    <p class="help-text help-text-override" align="center">
      Copyright 2016
    </p>
  </div>
</div>
{% endblock %}
