{% extends 'internal_layout.html' %}
{% block app_container %}
{% include 'participant_nav.html' %}
<div class="app_content_block">
  <div class="row">
    <div class="small-10 large-10 small-offset-1 large-offset-1 columns">
      <div class="app_content_area">

        <div class="row">
          <div class="small-3 large-3 columns">
            <h4>Ujian</h4>
            <h5>Akses Soal ke:</h5>
            <select id="question_picker">
              <option value="-">-</option>
              {% for i in count %}
                  <option value="{{i.id}}">{{loop.index}}</option>
              {% endfor %}
            </select>
            <h5>Sisa Waktu Anda:</h5>
            <div id="countdown_block"></div>
          </div>
          <div class="small-9 large-9 columns">
            <h6 id="question"></h6>
            <div class="row">
              <div class="small-6 large-6 columns">
                <input type="hidden" name="question_id" value="" id="question_id">
                <input type="radio" name="option_choosed" value="option_one" required><label id="option_one" for="option_one">A.</label>
                <input type="radio" name="option_choosed" value="option_two" required><label id="option_two" for="option_two">B.</label>
                <input type="radio" name="option_choosed" value="option_three" required><label id="option_three" for="option_three">C.</label>
              </div>
              <div class="small-6 large-6 columns">
                <input type="radio" name="option_choosed" value="option_four" required><label id="option_four" for="option_four">D.</label>
                <input type="radio" name="option_choosed" value="option_five" required><label id="option_five" for="option_five">E.</label>
              </div>
            </div>
            <div class="row">
              <div class="small-6 large-6">
                <button id="submitQuestion" class="button">Simpan</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="small-10 large-10 small-offset-1 large-offset-1 columns">
      <p align="center" class="help-text help-text-override">&copy; Copyright Departemen Perhubungan Udara - Kementerian Perhubungan</p>
    </div>
  </div>
</footer>
{% endblock %}
{% block app_footer_js %}
<script src="/cat/cdn/js/jquery.countdown.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // var timeTo = 1 * 60 * 60 * 1000;
    $('#question_picker').change(function() {
      var questionID = $(this).val();
      $.ajax({
        url: "/cat/api/question/get",
        type: "POST",
        data: {id: questionID,},
        dataType: "json",
        success: function(result) {
          $('h6#question').html(result.question);
          $('input#question_id').val(result.id);
          $('label#option_one').html(result.option_one);
          $('label#option_two').html(result.option_two);
          $('label#option_three').html(result.option_three);
          $('label#option_four').html(result.option_four);
          $('label#option_five').html(result.option_five);
        },
      })
    });
    var timeTo = 10 * 1000;
    var countTo = new Date().valueOf() + timeTo;
    $("#countdown_block")
    .countdown(countTo.toString(), function(event) {
      $(this).text(
        event.strftime('%H:%M:%S')
      );
    }).on('finish.countdown', function(event) {
      console.log("FINISH!!!!!");
    });

    $('button#submitQuestion').click(function(e) {
      var checkedVal = $('input:radio:checked');
      if (checkedVal.length < 1) {
        alert("Pilih salah satu jawaban");
      } else {
        console.log(checkedVal.val());
      }
    })
  });
</script>
{% endblock %}
