/*  Block Section  */
.header_block {
  margin: 10px 0px;
}
.login_form_block {
  margin-top: 20px;
  padding: 16px;
  border: solid 2px #ebebeb;
  background-color: #ebebeb;
  border-radius: 4px;
}
.app_content_block {
  margin-top: 60px;
}
.app_content_area {
  margin-bottom: 20px;
  padding: 16px;
  border: solid 2px #ebebeb;
  background-color: #ebebeb;
  border-radius: 4px;
}
/*  Default Override Section  */
.login_form_block input {
  text-align: center;
}
/*  Foundation Override Section  */
.help-text-override {
  margin-top: 10px !important;
}
