{% extends 'layout_backend.html' %}

{% block app_container %}
  <div class="container">
    <div class="row">
      {% include 'nav-side.html' %}
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6">
            <div class="field">
              <h3>Nama Organisasi</h3>
              <p>{{ data.reqEntity.data.PaymentHeader.NamaWajibBayar }}</p>
            </div>
            <div class="field">
              <h3>Invoice No</h3>
              <p>{{ data.reqEntity.invoiceNo }}</p>
            </div>
            <div class="field">
              <h3>Total Nominal Transaksi</h3>
              <p>Rp. {{ data.reqEntity.data.PaymentHeader.TotalNominalBilling|number_format }}</p>
            </div>
            <div class="field">
              <h3>Tanggal Pengajuan</h3>
              <p>Rp. {{ data.reqEntity.data.PaymentHeader.DateSent|date("d/m/Y H:i:s") }}</p>
            </div>
            <div class="field">
              <h3>Tanggal Expire</h3>
              <p>Rp. {{ data.reqEntity.data.PaymentHeader.ExpiredDate|date("d/m/Y H:i:s") }}</p>
            </div>
            <div class="field">
              <h3>Status</h3>
              <p>
                {% if data.reqPaid == 0 %}
                  Belum Bayar
                {% else %}
                  Sudah Bayar
                {% endif %}
              </p>
            </div>
            {% if data.reqPaid == 1 %}
            <div class="field">
              <h3>NTB</h3>
                <p>{{ data.reqBillingResponse.ResponseData.NTB }}</p>
            </div>
            <div class="field">
              <h3>NTPN</h3>
                <p>{{ data.reqBillingResponse.ResponseData.NTPN }}</p>
            </div>
            <div class="field">
              <h3>Tanggal Bayar</h3>
              <p>{{ data.reqBillingResponse.ResponseData.TrxDate|date("d/m/Y H:i:s") }}</p>
            </div>
            {% endif %}
          </div>
          <div class="col-md-6">
            <div class="field">
              <h3>Data Pembayaran</h3>
              <div class="field">
                <h3>Kode Billing</h3>
                <p>{{ data.reqResponse.response.simponiData.KodeBillingSimponi }}</p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Detail</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in data.reqEntity.data.PaymentDetails.PaymentDetail %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>
                        <p>{{ d.NamaWajibBayar }}</p>
                        <p id="sop_type" class="sop_type sop_type_{{ loop.index }}" data-url="/sn/{{ d.KodeTarifSimponi }}"></p>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <h3>Technical Data</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="field">
              <h3>ID TRX SQL</h3>
              <p>{{ data.id_mssql }}</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <h3>Data Trx Time</h3>
              <p>{{ data.reqTime|date("d/m/Y H:i:s") }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block app_footer %}
  <script type="text/javascript">
    $(document).ready(function(i) {

      // function getsn(url) {
      //   console.log("Run");
      //   $.get( url, function( data ) {
      //     $(this).html( data );
      //   });
      // }

      // if ($("#sop_type").length) {
        $(".sop_type").each(function(i, j) {
          var ele = $(this);
          var url = $(this).data("url");
          console.log(url);
          // console.log(ele);
          // console.log(j);
          // $.get( url, function( data ) {
          //   $(this).html( data );
          // });
          $.ajax({
              type: 'GET',
              url: url,
              async: true,
              success: function(data){
                $(j).html(data);
                // console.log(ele);
              },
              error: function(xhr, ajaxOptions, thrownError) {
                  alert('Erro!');
              }
          });
        });
      // }
    });
  </script>
{% endblock %}
