{% extends 'layout_backend.html' %}

{% block app_header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js" charset="utf-8"></script>
{% endblock %}
{% block app_container %}
  <div class="container">
    <div class="row">
      {% include 'nav-side.html' %}
      <div class="col-md-9">
        <canvas id="globalTrxChart" width="auto" height="auto"></canvas>
        <!-- <h4>Total Transaksi</h4>
        <p>{{ data_records }}</p>
        <h4>Total Transaksi Gagal</h4>
        <p>{{ data_void }}</p>
        <h4>Total Transaksi Berhasil</h4>
        <p>{{ data_success }}</p> -->
      </div>
    </div>
  </div>
  <script>
  var ctx = document.getElementById("globalTrxChart");
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["Total", "Gagal", "Berhasil", "Terbayar", "Belum Terbayar"],
          datasets: [{
              label: '# Transaksi',
              data: [{{ data_records }}, {{ data_void }}, {{ data_success }}, {{ data_paid }}, {{ data_nonpaid }}]
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
  </script>
{% endblock %}
