{% extends 'layout_backend.html' %}
{% block app_container %}
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
      <div class="login_block">
        <form role="form" action="/auth" method="post">
          <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="user" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="pass" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
