{% extends 'layout_backend.html' %}
{% block app_header %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" media="screen" charset="utf-8">
{% endblock %}
{% block app_container %}
  <div class="container">
    <div class="row">
      {% include 'nav-side.html' %}
      <div class="col-md-9">
        <div style="margin-bottom: 20px;">
          <a href="/backend/log/paid"><button class="btn btn-info">Paid Transaction Log</button></a>
          <a href="/backend/log/non-paid"><button class="btn btn-info">Non-Paid Transaction Log</button></a>
          <a href="/backend/log/fail"><button class="btn btn-info">Failed Transaction Log</button></a>
          <a href="/backend/log/range"><button class="btn btn-info">Range Log</button></a>
        </div>
        <h3>All Transaction</h3>
        <table id="table">
          <thead>
            <tr>
              <th>Invoice No</th>
              <th>User</th>
              <th>Tanggal</th>
              <th>Opsi</th>
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
              <tr>
                <td>{{ d.reqEntity.invoiceNo }}</td>
                <td>{{ d.reqEntity.data.PaymentHeader.NamaWajibBayar }}</td>
                <td>{{ d.reqEntity.data.PaymentHeader.DateSent }}</td>
                <td><a href="/backend/log/{{ d.id }}" target="_new">Lihat Transaksi</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block app_footer %}
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#table').DataTable({
      "order": [[ 2, "desc"]]
    });
  });
</script>
{% endblock %}
