{% extends 'layout_backend.html' %}
{% block app_header %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" media="screen" charset="utf-8">
{% endblock %}
{% block app_container %}
  <div class="container">
    <div class="row">
      {% include 'nav-side.html' %}
      <div class="col-md-9">
        <div style="margin-bottom: 20px;">
          <form action="" method="post">
            <div class="form-inline">
              <div class="form-group">
                <label>Start Date</label>
                <input type="date" name="start_date" class="form-control">
              </div>
              <div class="form-group">
                <label>End Date</label>
                <input type="date" name="end_date" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <h3>Range Transaction</h3>
        <table id="table">
          <thead>
            <tr>
              <th>Invoice No</th>
              <th>User</th>
              <th>Tanggal</th>
              <th>Opsi</th>
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
              <tr>
                <td>{{ d.reqEntity.invoiceNo }}</td>
                <td>{{ d.reqEntity.data.PaymentHeader.NamaWajibBayar }}</td>
                <td>{{ d.reqEntity.data.PaymentHeader.DateSent }}</td>
                <td><a href="/backend/log/{{ d.id }}" target="_new">Lihat Transaksi</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
{% block app_footer %}
<script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js" charset="utf-8"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#table').DataTable({
      "order": [[ 2, "desc"]]
    });
  });
</script>
{% endblock %}
