<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Billing Code / Kode Billing Anda</title>
    <style media="screen">
      .hide {
        display: none;
      }
    </style>
    <script type="text/javascript" src="http://aap.my.id/dephub/payment/cdn/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://aap.my.id/dephub/payment/cdn/js/jspdf.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var doc = new jsPDF();
        var specialElementHandlers = {
          '#editor': function (element, renderer) {
              return true;
          }
        };

        $('#dl').click(function (e) {
          e.preventDefault();
          doc.fromHTML($('#detail').html(), 15, 15, {
              'width': 170,
                  'elementHandlers': specialElementHandlers
          });
          doc.save('PPO-Receipt-{{KodeBillingSimponi}}.pdf');
        });
      });

    </script>
    <!-- <script type="text/javascript">
      $(window).load(function() {
        // Animate loader off screen
        // $(".loading").hidden();
        // $("#detail").removeClass('hide');
      });
    </script> -->
  </head>
  <body>
    <div id="detail">
      <p>
        Your Billing Code : {{KodeBillingSimponi}}
      </p>
      <p>
        Grand Total : Rp. {{GrandTotal}}
      </p>
    </div>
    <div id="editor"></div>
    <a id="dl" href="#">Download</a>
  </body>
</html>
