{% extends 'layout.html' %}
{% block app_container %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2 align="center">DKUPPU LICENSE CHECK</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="input-id">
        <form role="form" action="" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="applicantid" placeholder="User ID" name="applicantid" autofocus>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% if data_info != null %}


    <div class="row">
      <div class="col-md-4">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Photo&w=300&h=300">
      </div>
      <div class="col-md-4">
          <h2>Personal Info</h2>
          <h4>Name</h4>
          <p>
            {{ data_info["fullname"] }}
          </p>
          <h4>Gender</h4>
          <p>
            {% if data_info["id_gender"] == 'GN01' %}
              Male
            {% else %}
              Female
            {% endif %}
          </p>
          <h4>Birth</h4>
          <p>
            {{ data_info["place_of_birth"] }}, {{ data_info["birth_date"]|date("d/m/Y") }}
          </p>
          <h4>Address</h4>
          <p>
            {{ data_info["address"] }}
          </p>
      </div>
      <div class="col-md-4">
        <h2>Current Active License</h2>
        <h4>Organization Name</h4>
        <p>
          {{ data_info["org_name"] }}
        </p>
        <h4>License Info</h4>
        {% set no = 1 %}
        {% for dl in data_license %}
            <strong>License {{ no }} :</strong>
            <p>No. {{ dl.license_no }}</p>
            <p>Type. {{ dl.id_license_type }}</p>
            <p>SOP. {{ dl.id_sop_type }}</p>
            {% set no = no + 1 %}
        {% endfor %}
      </div>
    </div>



  {% endif %}
</div>
{% endblock %}
