<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice Pengajuan</title>
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <style media="screen">
      .hide {
        display: none;
      }
      td {
        padding-right: 10px;
      }
      #detail {

      }
      .header img {
        margin-left: 25%;
        margin-right: 25%;
      }
      .header {
        text-align: center;
      }
      .invoice_block {
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 20px;
        background: #FFF none repeat scroll 0% 0%;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
      }
    </style>
    <!-- <script type="text/javascript" src="http://aap.my.id/dephub/payment/cdn/js/jquery.min.js"></script>
    <script type="text/javascript" src="http://aap.my.id/dephub/payment/cdn/js/jspdf.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- <script type="text/javascript">
      $(document).ready(function() {
        var doc = new jsPDF();
        var specialElementHandlers = {
          '#editor': function (element, renderer) {
              return true;
          }
        };

        $('#dl').click(function (e) {
          e.preventDefault();
          doc.fromHTML($('#detail').html(), 15, 15, {
              'width': 170,
                  'elementHandlers': specialElementHandlers
          });
          doc.save('PPO-PaymentStatus-{{BillingCode}}.pdf');
        });
      });

    </script> -->
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img src="http://www.dephub.go.id/themes/parallax2/assets/images/logo2.png" alt="Dephub Logo" />
        <h4>Invoice Pengajuan</h4>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="invoice_block">
            <div id="detail">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Nama Wajib Bayar</td>
                    <td>:</td>
                    <td>{{ data.reqEntity.data.PaymentHeader.NamaWajibBayar }}</td>
                  </tr>
                  <tr>
                    <td>Total Penagihan</td>
                    <td>:</td>
                    <td class="totalpenagihan">IDR. {{ data.reqEntity.data.PaymentHeader.TotalNominalBilling }}</td>
                  </tr>
                  <tr>
                    <td>Invoice No</td>
                    <td>:</td>
                    <td>{{ data.reqEntity.invoiceNo }}</td>
                  </tr>
                  <tr>
                    <td>Billing Code</td>
                    <td>:</td>
                    <td>{{ data.reqResponse.response.simponiData.KodeBillingSimponi }}</td>
                  </tr>
                  <tr>
                    <td>Status</td>
                    <td>:</td>
                    {% if data.reqBillingResponse is empty %}
                      <td>Belum melakukan pembayaran</td>
                    {% else %}
                      <td>{{ data.reqBillingResponse.ResponseMessage }}</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>Batas Pembayaran</td>
                    <td>:</td>
                    <td>{{ data.reqResponse.response.simponiData.ExpiredDate|date('d-m-Y H:i:s') }}</td>
                  </tr>
                  <tr>
                    <td>Tanggal Pengajuan</td>
                    <td>:</td>
                    <td>{{ data.reqResponse.response.simponiData.Date|date('d-m-Y H:i:s') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h3>Detail Transaksi</h3>
            <div id="detail">
              <table class="table">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Pengajuan</th>
                  </tr>
                </thead>
                <tbody>

                  {% for d in data.reqEntity.data.PaymentDetails.PaymentDetail %}
                    <tr>
                      <td>{{ loop.index }}</td>
                      <td>
                        <p>{{ d.NamaWajibBayar }}</p>
                      </td>
                      <td>
                        <p id="sop_type" class="sop_type sop_type_{{ loop.index }}" data-url="/sn/{{ d.KodeTarifSimponi }}"></p>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="detail">
              <h5>Payment Method</h5>
              <ul>
                <li>Payment can be made at the Bank and Post Perception Partners SIMPONI through tellers, ATMs and e-banking by stating the Billing Code SIMPONI.</li>
                <li>Here are 25 Banks and 1 Perception Post Partners: Bank BRI, BNI, Bank Mandiri, CIMB Niaga, PT. Pos Indonesia, Bank Jabar Banten, Citibank, BPD Sumsel Babel, Bank of Tokyo Mitsubishi UFJ, BCA, BII, BPD Riau, BPD Kalsel, Bank Nusantara Parahyangan, BNI Syariah, Bank Lampung, BPD Nusa Tenggara Timur, Commonwealth Bank, Bank Sulut, Panin Bank, HSBC, Bank Sumut, Bank Jatim, Bank DBS, Deutsche Bank and Bank Nagari.</li>
                <li>USD Currency deposit can be made at: Bank BNI, Bank Mandiri and Bank BRI.</li>
              </ul>
            </div>
            <div class="detail">
              <h5>ATTENTION</h5>
              <p>
                Payments will be processed where's the payments made in 07:00 until 18:00 on weekdays, payments made outside of these hours will be processed the next day.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function(i) {
        $.fn.digits = function(){
          return this.each(function(){
              $(this).text( $(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") );
          })
        }
        $('.totalpenagihan').digits();

        // if ($("#sop_type").length) {
          $(".sop_type").each(function(i, j) {
            var ele = $(this);
            var url = $(this).data("url");
            console.log(url);
            // console.log(ele);
            // console.log(j);
            // $.get( url, function( data ) {
            //   $(this).html( data );
            // });
            $.ajax({
                type: 'GET',
                url: url,
                async: true,
                success: function(data){
                  $(j).html(data);
                  // console.log(ele);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Erro!');
                }
            });
          });
        // }
      });
    </script>
  </body>
</html>
