<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backend - HubPayment DKUPPU</title>
    <link rel="stylesheet" href="/cdn/css/layout.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css" media="screen" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% block app_header %}{% endblock %}
  </head>
  <body>
    <div class="app_block">
      {% block app_container %}{% endblock %}
    </div>
    <script src="/cdn/js/bootstrap.min.js" charset="utf-8"></script>
    {% block app_footer %}{% endblock %}
  </body>
</html>
