<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked">
    <li><a href="/backend">Dashboard</a></li>
    <li><a href="/backend/log">Transaction Log</a></li>
    <!-- <li><a href="/backend/admin">Admin</a></li> -->
    <li><a href="/backend/logout">Logout</a></li>
  </ul>
</div>
